<app-header></app-header>
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>PetVesp Shop  </span>
            <h1>O melhor auxílio Pet que você busca!</h1>
        </div>
        <img ngSrc="/assets/principal2.png" width="669" height="536">
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                Buscamos excelência<br/>
                
            </h2>
        </div>
        <p>nos atendimentos aos nossos <b>clientes e pets</b> para assegurar sua satisfação e conforto.</p>
    </section>
    <section class="cta-section">
        <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
    </section>
    <newsletter-form></newsletter-form>
    <section class="benefit-section pad-70">
        <benefit-card
            card-title="Produtos de qualidade"
            img-path="/assets/team.png"
            card-description="Descubra a excelência em cada detalhe! Explore nossa seleção de produtos e mergulhe na qualidade que nos define. Na nossa loja, cada item é cuidadosamente selecionado para oferecer a máxima satisfação. Encontre confiança em cada compra "
        >
        </benefit-card>
        <benefit-card
            card-title="Atendimento excepcional"
            img-path="../assets/project-guide.png"
            card-description="Experiência além das expectativas! Nossa equipe dedicada está pronta para superar suas necessidades e proporcionar um atendimento excepcional. De consultas personalizadas a soluções sob medida, estamos aqui para tornar sua jornada de compra memorável. "
        >
        </benefit-card>
    </section>
    <section class="cta-section pad-70">
        <h2>Deseja retirar alguma dúvida? Entre em contato com nossa equipe</h2>
        <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
    </section>
    <app-footer></app-footer>
</main>